%article

  %h2= @article.title
  
  .meta
    %span.date
      = @article.published_at.stamp("March 8, 2004")

  .body= raw(@article.body_html)
  
  .author
    .name= @article.author.name
    .links
      %ul
        %li.twitter= "@#{@article.author.twitter_username}"
        %li.github= @article.author.gh_username
        %li.site= link_to(@article.author.site_url)
    .profile= raw(@article.author.profile_html)
  
  .links
    %h4 Links referenced in this article
    %ul
      - for link in @article.links
        %li(class="#{link.type}")
          = "[#{link.type.downcase}]"
          = link_to(link.url, link.url)
          
  %ul#repos

  .comments
    %h4 Comments
    .add
      = form_for([@article, Comment.new]) do |f|
        = f.text_area :body, :rows => 4
        = text_field_tag :user_label, "Anonymous", :size => 30
        = text_field_tag :user_email, "Email", :size => 30
        = f.submit "Comment"
    %ul
      - for comment in @article.comments do
        %li(id="comment-#{comment.id}")
          .commenter= user_label(comment.user)
          = raw(comment.body_html)