!!! Strict
%html
  %head
    %title
      = "#{yield_content(:page_title)} - #{I18n.t('app.name')}"
    = stylesheet_link_tag "application", :media => "all"

    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{rel:"alternate", type: "application/atom+xml", title: "#{I18n.t('app.name')} article feed", href: "/articles.atom"}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Enriqueta:400,700' rel='stylesheet' type='text/css'>

    = javascript_include_tag "application"
    = partial 'ga'
    = partial 'discuss'

  %body

    %header{class: ("compact" unless root_path?)}
      .container
        %a.logo{href: '/'}
          .icon= icon_for :osaka
          .label
            %h1= I18n.t('app.name')
            %h2
              %span.is is
              = I18n.t('app.tagline')

      = partial 'subscribe' unless root_path?

    .main
      = yield

    %footer= partial 'footer'