- content_for(:page_title, current_page.data['title'])

- wrap_layout(:application) do

  %article

    %a(href="#{current_page.data['authors'][0]['gplus']}?rel=author")
    %h1= current_page.data['title']

    %p.date
      Published
      = current_page.data['date']

    .body= yield

    %ul.authors
      - for author in current_page.data['authors']
        %li
          = gravatar_for(author.email)
          %p
            = link_to(author.name, author.site)
            = author.profile


    /.license= render :partial => 'license'

    / %h3 Links mentioned in this article
    / %ul.link_summary
    /   - for link in @article.links
    /     %li
    /       - if icon_words.include?(link.humanized_type)
    /         = link_to(link.humanized_url, link.url, class: 'iconic', title: icon_for(link.humanized_type))
    /       - else
    /         = link_to(link.humanized_url, link.url)

    //%ul#repos

    #comments
      = partial 'disqus'