:javascript
  $(function() {

    mixpanel.identify("#{current_user.uuid}");
    mixpanel.people.identify("#{current_user.uuid}");
    mixpanel.people.set({
      "$created": "#{current_user.created_at}",
      "First Visit": "#{params[:redirect_to]}"
    });

    mixpanel.track('First visit', {
      "Page": "#{params[:redirect_to]}"
    });

    window.location.replace("#{params[:redirect_to]}");
  });