.main

  %h3 Articles
  %ol.content.articles
    - for article in @articles
      %li.article
        %span.title= link_to(article.title, article)
        %span.summary= article.summary
        %span.meta
          %span.date= "Published #{article.published_at.to_formatted_s(:short)}"

  %h3 Elsewhere
  %ol.content.linked
    - for link in @linked_content[0..3]
      %li.link
        %span.title= link_to(link.title, link.target_url)
        - if link.image_url
          %span.image= image_tag(link.image_url)
        - if link.summary
          %span.summary= link.summary
        %span.meta
          %span.date= "Published #{link.published_at.to_formatted_s(:short)}"

.side

  %h3 Other Stuff
  %ol.content.linked
    - for link in @linked_content[4..10]
      %li.link
        %span.title= link_to(link.title, link.target_url)
        - if link.image_url
          %span.image= image_tag(link.image_url)
        - if link.summary
          %span.summary= link.summary
        %span.meta
          %span.date= "Published #{link.published_at.to_formatted_s(:short)}"
