- content_for(:page_title, "The Technique of Developing Modern Applications")

%ol.content.articles

  - for article in @articles
    %li
      %article
        %h2= link_to(article.title, article)
        %p.date
          = article.published_at.stamp("March 8, 2004")
        %p.summary
          = article.summary

.side

  %h2 Recent authors
  
  %ol.authors
    - for author in User.authors.random.limit(4)
      %li
        .name= author.name
        .profile= raw(author.profile_html)
