%p
  Miyagi is a journal of high-quality, general-purpose technical content. Its contributors 
  are thoughtful practitioners of modern application development with a variety of interests.
%p
  Miyagi is
  = link_to "open-source", "https://github.com/rwdaigle/miyagi"
  and available
  = link_to "@MiyagiJournal", "https://twitter.com/MiyagiJournal"
  and via a
  = link_to "feed.", "/articles.atom"

#yin_yang
  .container
    .side.sun= icon_for :sun
    .side.moon= icon_for :moon