-if event?(:first_visit)
  :javascript
    $(function() {

      // People
      mixpanel.people.identify("#{current_user.uuid}");
      mixpanel.people.set({
        "uuid": "#{current_user.uuid}",
        "$last_seen": new Date(),
        "$last_login": new Date(),
        "$created": "#{current_user.created_at}",
        "Referrer": document.referrer
      });

      // Event
      mixpanel.identify("#{current_user.uuid}");
      mixpanel.track('First visit', {
        "Page url": "#{request.path}",
        "Page title": document.title
      });
    });

-if event?(:subscribed)
  :javascript
    $(function() {

      // People
      mixpanel.people.identify("#{current_user.uuid}");
      mixpanel.people.set({
        "$last_seen": new Date(),
        "$last_login": new Date(),
        "$email": "#{current_user.email}",
        "$username": "#{user_label(current_user)}"
      });

      // Event
      mixpanel.name_tag("#{user_label(current_user)}");
      mixpanel.track('Subscribed', {
        "Page url": "#{request.path}",
        "Page title": document.title
      });
    });

-if event?(:content_viewed)
  :javascript
    $(function() {

      // People
      mixpanel.people.identify("#{current_user.uuid}");
      mixpanel.people.set({
        "$last_seen": new Date(),
        "$last_login": new Date()
      });

      // Event
      mixpanel.name_tag("#{user_label(current_user)}");
      mixpanel.track('Viewed content', {
        "Content type": "Article",
        "Content id": #{@article.id},
        "Content title": "#{@article.title}"
      });
    });

-if event?(:homepage_viewed)
  :javascript
    $(function() {

      // People
      mixpanel.people.identify("#{current_user.uuid}");
      mixpanel.people.set({
        "$last_seen": new Date(),
        "$last_login": new Date()
      });

      // Event
      mixpanel.name_tag("#{user_label(current_user)}");
      mixpanel.track('Viewed homepage');
    });