!!! Strict
%html
  %head
    %title
      = "#{yield(:page_title)} - #{t('app.name')}"
    = stylesheet_link_tag "application", :media => "all"

    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %link{rel:"alternate", type: "application/atom+xml", title: "#{t('app.name')} article feed", href: articles_path(format: 'atom')}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="//use.typekit.net/xii6gcf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    / = airbrake_javascript_notifier
    = javascript_include_tag "application"    
    = csrf_meta_tags
    = render :partial => '/ga'
    = render :partial => '/mixpanel'
    = render :partial => '/tracking'
    = render :partial => '/discuss'

  %body{class: ("night" if cookies[:night] == "true")}

    %header{class: ("compact" unless request.path == root_path)}
      .container
        %a.logo{href: root_path}
          .icon= icon_for japan_prefectures.sample
          .label
            %h1= t 'app.name'
            %h2= t 'app.tagline'

      = render :partial => '/subscribe' unless request.path == root_path
      
    .main
      = yield

    %footer
      %p= markdown 'app.footer_blurb', localize: true
      / %p.distribution= render :partial => '/distribute'

      #yin_yang
        .container
          .side.sun= icon_for :sun
          .side.moon= icon_for :moon

    
