!!! Strict
%html
  %head
    %title
      = "#{yield(:page_title)} - Miyagi"
    = stylesheet_link_tag "application", :media => "all"
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    
    = airbrake_javascript_notifier
    = javascript_include_tag "application"    
    = csrf_meta_tags
    = render :partial => '/mixpanel'
    = render :partial => '/tracking'
    = render :partial => '/discuss'

  %body{class: ("night" if cookies[:night] == "true")}
    %header
    
      - if request.path == root_path
        %a#logo{href: root_path}
          .icon= icon_for japan_prefectures.sample
          .label
            %h1= t 'app.name'
            %h2= t 'app.tagline'

      = render :partial => '/subscribe'
      
    .main
      = yield

    %footer
    
      %p= markdown 'app.footer_blurb', localize: true

      #yin_yang
        .container
          .side.sun= icon_for :sun
          .side.moon= icon_for :moon

    
