!!! Strict
%html
  %head
    %title The Application Development Journal
    = stylesheet_link_tag "application", :media => "all"
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    
    = airbrake_javascript_notifier
    = javascript_include_tag "application"    
    = csrf_meta_tags
    = render :partial => '/mixpanel'


  %body
    .header
      .subscribe= render :partial => '/subscribe'
    .main= yield
    
    = link_to_function "<span class='eclipse'> </span>".html_safe, "$('body').toggleClass('night')", id: "night"
    